@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

:root {
    --color-bg:#344fa1;
    --color-card: #031956;
    --color-font: #fcfefe;
    --color-font2: #6783d4;
    --color-primary: #eb05ff;
    --color-secondary: #2771e6;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu Mono', monospace;
    background-color: var(--color-font2);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 25rem;
    height: 40rem;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--color-bg);
    color: var(--color-font);
    display: flex;
    flex-direction: column;
}
.changetheme {
    background-color: var(--color-font);
    color: var(--color-card);
}
.container nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container nav h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
}
.container nav i {
    cursor: pointer;
    font-size: 1.3rem;
}
.container nav i:hover {
    color: yellow;
}
.container .list-tasks {
    flex-grow: 1;
}

/* Containet LIST TASKS */
.list-tasks {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.list-tasks li {
    background-color: var(--color-card);
    padding: .5rem 1rem;
    border-radius: 1rem;
}

/* Container FORM */
.container form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.container form input {
    flex-grow: 1;
    border-radius: 1rem;
    border: none;
    padding: .5rem 1rem;
    color: var(--color-card);
    outline: none;
}
.container form input::placeholder {
    color: var(--color-font2);
}
.container form button {
    background-color: var(--color-primary);
    border-radius: 50%;
    border: none;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--color-font);
}