@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

:root {
    --color-bg:#344fa1;
    --color-card: #031956;
    --color-font: #fcfefe;
    --color-font2: #6783d4;
    --color-primary: #eb05ff;
    --color-secondary: #2771e6;

    --font-primary: 'Ubuntu Mono', monospace;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-font2);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-primary);
}
main {
    width: 25rem;
    height: 40rem;
    position: relative;
    overflow: hidden;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    border: none;
    font-family: var(--font-primary);
    font-size: .9rem;
}


/* Menu */
.menu {
    width: inherit;
    height: inherit;
    background-color: var(--color-card);
    border-radius: 1rem;
    padding: 2rem;
    color: var(--color-font);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.menu-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    position: relative;
}
.menu-header img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: .15rem solid var(--color-primary);
    padding: 0.3rem;
    box-shadow: .1rem .1rem .6rem var(--color-primary);
}
.menu-header h3 {
    font-size: 2rem;
}
.menu-header i {
    border: .1rem solid var(--color-font2);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.menu-nav {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.menu-nav a {
    width: 100%;
    color: var(--color-font);
    display: flex;
    gap: 1rem;
}
.menu-nav a i {
    color: var(--color-font2);
    cursor: pointer;
}


/* Container */
.container {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: var(--color-bg);
    border-radius: 1rem;
    padding: 2rem;
    color: var(--color-font);
    transition: .5s;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

/* Container Header */
.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-header button {
    background: none;
    color: var(--color-font2);
    font-size: 1.4rem;
    cursor: pointer;
}

/* Container Date */
.date {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.date-day {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.day-number {
    font-size: 1.5rem;
}
.day-text {
    font-size: .9rem;
}
.date-month {
    font-size: 1.8rem;
}

/* Task Container */
.task-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.task-container h2 {
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem rgba(255,255,255,.5);
}
.task-container h4 {
    color: var(--color-font2);
    font-size: 1.2rem;
    padding: .5rem 0;
}
.tasks-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
}
.tasks-list li {
    width: 100%;
    background-color: var(--color-card);
    box-shadow: .1rem .1rem .6rem var(--color-card);
    padding: .8rem 1.3rem;
    border-radius: 1rem;
}

/* Form for new task*/
.form-newTask {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-font);
    border-radius: 1rem;
    padding: 2rem;
    color: var(--color-bg);
    transition: .5s;
    z-index: 3;
}

.show-form {
    top: 0;
}


/* Buttons */
.btnNewTask {
    margin: auto;
    background-color: var(--color-primary);
    box-shadow: .1rem .1rem .6rem var(--color-primary);   
    width: 3rem;
    height: 3rem;
    font-size: 1.3rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-font);
}
.btnCloseForm {
    border: .1rem solid var(--color-font2);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
    background: none;
    color: var(--color-bg);
    z-index: 4;
}
.btnAddTask {
    background-color: var(--color-primary);
    box-shadow: .1rem .1rem .6rem var(--color-primary);
    color: var(--color-font);
    padding: .8rem 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
}